<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<table><tr>
					<td>
				<img src="/static/img/yoisho-logo.png" width="100" height="30"/>
			</td><td>&nbsp;</td><td>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</td></tr></table>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
